<section class="flex flex-col gap-4 p-4 border rounded border-grey-300">
  <p class="font-medium text-green-500">Your ID: {{ id() }}</p>

  <section class="p-4 border rounded bg-grey-300">
    @for (item of messages(); track $index) {
      @if (item.id === id()) {
        <p class="font-medium text-right text-green-500">{{ item.message }}</p>
      } @else {
        <p class="font-medium">{{ item.id }}: {{ item.message }}</p>
      }
    }
  </section>

  <section class="flex flex-row justify-between">
    <input type="text" placeholder="Type your message here" class="w-full px-4 py-4 border rounded border-grey-300" [(ngModel)]="message" />
    <button class="px-8 py-2 text-white bg-blue-300 border rounded" (click)="send()">Send</button>
  </section>
</section>
